<footer>
  <ul>
    <h4>Other Websites</h4>
    {% for item in site.data.tree %}
    <li>
      <a href="{{ item.link }}" target="_blank">
        {{ item.name }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <ul>
    <h4>Information</h4>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/todo">To-do list</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>

  <p class="copy">© 2018 <img src="/assets/svg/sp-net.svg"></p>
</footer>

<script src="/assets/js/bgen.js"></script>
<script src="/assets/js/cookie.js"></script>
