<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#353535" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(window).on('load', function() {
      $("#wrap").toggle();
      $("#loader").toggle();
    });
  </script>
</head>
