input, textarea {
  width: 100%;
  border: none;
  background: #404552;
  color: $txtcolor;
  font-size: 1em;
}

textarea {
  font-size: 1.2em;
}

input {
  height: 2em;
}

input[type="submit"] {
  padding: .2em;
  font-size: 1.3em;
  font-weight: bold;
  color: $txtcolor !important;
}
legend {
  font-weight: bold;
}
