pre {
  background-color: black;
  padding: 0.5em;
  .s, .s2 {
    color: lightgreen;
  }
  .nt, .nb {
    color: indianred;
  }
  .na {
    color: darksalmon;
  }
  .nf, .nx {
    color: cornflowerblue;
  }
  .nc {
    color: bisque;
  }
  .n {
    color: orange;
  }
  .k {
    color: mediumorchid;
  }
}
