body {
  background-color: rgb(26, 26, 26);
  max-width: 70em;
  color: rgb(191, 191, 191);
  margin: auto;
  font-family: sans-serif;;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #383737;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

a {
  color: #a5a5a5;
  text-decoration: none;
  transition: 0.3s;
  background-color: #292929;

}

a:hover {
    color: white;
}

nav {
  background-color: #292929;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
}

nav a {
  line-height: 3em;
}

footer {
  padding: 1em;
  background-color: #292929;
  display: grid;
  grid-auto-flow: column;
}

footer h4 {
  margin-top: 0;
}

footer ul {
  grid-row-start: 1;
  grid-row-end: 3;
}

footer .copy {
  text-align: right;
  grid-row: 2;
}

.current {
  color: white;
}

main {
  padding: 0.5em 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #2929296e;
}

.hometop {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/img/topHead.jpg');
  height: 12em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px;
}

.hometop img {
  margin-top: 1em;
}

ul {
  list-style: none;
}

[data-icon]:before {
  font-family: "icomoon";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
