body {
  background-color: #424242;
  max-width: 70em;
  color: rgb(191, 191, 191);
  margin: auto;
  margin-top: 3.5em;
  font-family: sans-serif;
  background-attachment: fixed !important;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #383737;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

a {
  color: #a5a5a5;
  text-decoration: none;
  background-color: #303030;
  transition: 0.3s;
}

a:hover {
    color: white;
}

footer {
  padding: 1em;
  background-color: #353535;
  display: grid;
  grid-auto-flow: column;
}

footer h4 {
  margin-top: 0;
}

footer ul {
  grid-row-start: 1;
  grid-row-end: 3;
}

footer .copy {
  text-align: right;
  grid-row: 2;
}

.current {
  color: white;
}

.adverttile {
  margin-top: 1em;
  margin-bottom: 1em;
  .ad1 {
    @import "ads/ad1";
  }
}

main {
  padding: 0.5em 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #2929296e;
}

.hometop {
  background: url('/assets/img/topHead.jpg');
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1% 1em 8%;
}

.hometop img {
  margin-top: 1em;
}

#wrap {
  background-color: #292929b0;
  display: none;
}

ul {
  list-style: none;
}

@media all and (max-width: 750px) {
  .hometop {
    margin: auto;
  }
  .hometop img {
    width: 100%;
  }
}
