body {
  background-color: rgb(26, 26, 26);
  max-width: 65em;
  color: rgb(191, 191, 191);
  margin: auto;
  font-family: sans-serif;;
}

a {
  color: #a5a5a5;
  text-decoration: none;
  transition: 0.3s;
  background-color: #292929;

}

a:hover {
    color: white;
}

nav {
  background-color: #292929;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
}

nav a {
  line-height: 3em;
}

footer {
  padding: 1em;
  background-color: #292929;
  display: grid;
  grid-auto-flow: column;
}

footer h4 {
  margin-top: 0;
}

footer ul {
  grid-row-start: 1;
  grid-row-end: 3;
}

footer .copy {
  text-align: right;
  grid-row: 2;
}

.current {
  color: white;
}

main {
  padding-left: 2em;
  padding-right: 2em;
}

#homeTop {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://papers.co/wallpaper/papers.co-ne80-coding-screen-digital-art-dark-bw-29-wallpaper.jpg');
}

.pageTop {
  height: 12em;
  margin-left: -2em;
  margin-right: -2em;
  margin-top: 1em;
  padding: 10px;
}
