.wrap {
  z-index: 10;
  position: fixed;
  top: 0;
  max-width: 70em;
  width: 100%;
}

.nav-items {
  background-color: $nfs;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
}

.nav-items a {
  padding: 1.1em;
  transition: background-color $transition;
}

.nav-items a:hover {
  background-color: #3f3f3f;
}

.head {
  padding: 0.1em !important;
  font-size: 2.5em;
}

.mob-nav {
  display: none;
  background-color: $nfs;
  font-size: 2em;
  padding: 0.1em;
  cursor: pointer;
}

.mob-nav span {
  float: right;
}

.mob-togg {
  display: none;
  pointer-event: none;
}

@media all and (max-width: 750px) {

.mob-nav {
  display: block;
  position: relative;
}

.nav-items {
  grid-auto-flow: row;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.head {
  display: none;
}

.mob-togg:checked ~ .nav-items {
  display: grid;
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, $transition;
}
}
