nav {
  z-index: 10;
  position: fixed;
  top: 0;
  max-width: 70em;
  width: 100%;
}

.nav-items {
  background-color: #353535;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
}

.nav-items a {
  line-height: 3em;
}

.mob-nav {
  display: none;
  background-color: #353535;
  font-size: 2em;
  padding: 0.1em;
  cursor: pointer;
}

.mob-nav span {
  float: right;
}

.mob-togg {
  display: none;
}

@media all and (max-width: 750px) {

.mob-nav {
  display: block;
  position: relative;
}

.nav-items {
  grid-auto-flow: row;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.mob-togg:checked ~ .nav-items,
.mob-togg:checked ~ .nav-items,
.mob-togg:checked ~ .nav-items {
  display: grid;
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
}
