---
---

// Variables
@import "variables";

// Page
@import "main";
@import "animation";

// Font
@font-face {
  font-family: "Icomoon";
  src: url("../fonts/icomoon/fonts/icomoon.eot");
  src: url("../fonts/icomoon/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/fonts/icomoon.woff")
  format("woff"), url("../fonts/icomoon/fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon/fonts/icomoon.svg#icomoon")
  format("svg");
  font-weight: normal;
  font-style: normal;
}

@import "../fonts/icomoon/style.css";
