/* Whole page */
html, body {
    height: 100%;
}

body {
    margin: 0 auto !important;
    max-width: 70em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

a {
    transition: .2s;
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

a:hover {
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

iframe {
    pointer-events: none;
    background: white;
}

h3::first-letter {
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid rgb(58, 58, 58);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(34, 36, 37);
}

/* 404 page */
.notFound code {
    font-size: 1.5rem;
    filter: invert(.9);
}

/* Footer */
footer {
    font-size: 1.3rem;
}

.license {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 0;
}

/* Bootstrap Custom */
.text-light {
    color: rgb(197, 193, 185) !important;
}

.bg-secondary {
    background: rgb(50, 53, 56) !important;
}

.bg-dark {
    background: rgb(37, 39, 42) !important;
}

.navbar-brand img {
    transition: .2s;
}

.navbar-brand img:hover {
    filter: invert(1);
}

a:hover div.bg-dark {
    background: rgba(0,0,0,.4) !important;
}

.tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tree ul {
    margin-left: 1em;
    position: relative;
}

.tree ul ul {
    margin-left: .5em;
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #369;
    font-weight: 700;
    position: relative
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0
}

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    color: #369;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.dropdown-item {
    color: rgb(197, 193, 185) !important;
}

.dropdown-item:hover {
    background: rgb(12, 14, 16) !important;
    color: rgba(255, 255, 255, 0.91) !important;
}