<footer class="bg-secondary px-4 py-2">
    <div class="row text-center">
        <div class="col-sm">
            <p class="bg-dark">Information</p>
            <div class="row">
                <a href="{{ url_for('about') }}" class="col-sm">
                    <div class="bg-dark">About</div>
                </a>
                <a href="{{ url_for('todo') }}" class="col-sm">
                    <div class="bg-dark">To-do list</div>
                </a>
                <a href="{{ url_for('contact') }}" class="col-sm">
                    <div class="bg-dark">Contact</div>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <p class="bg-dark">External Links</p>
        </div>
    </div>
    <p class="copy text-right">© 2020 <a href="/"><img src="{{ url_for('static', filename='svg/logo.svg') }}"></a></p>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</footer>

