<link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">

<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <a href="{{ url_for('index') }}" class="navbar-brand">
        <img src="{{ url_for('static', filename='svg/logo.svg') }}" width="300px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="https://github.com/SpilumNet/Website/tree/flask" class="nav-link" target="_blank">Github</a></li>
        </ul>
    </div>
</nav>