<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="wrap">
    {% include navigation.html %}
    {% include hometop.html %}
    <a href="#">
      <div class="ad1">
        <div class="ad1Head">
          <h2>Want to promote your</h2>
          <div class="slidingVertical">
            <h2>
              <span>Business</span>
              <span>Product</span>
              <span>Website</span>
              <span>Cause</span>
            </h2>
          </div>
        </div>
        <h4>Contact us!</h4>
        <h3>Your advertisement could be here!</h3>
      </div>
    </a>
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
</body>

</html>