{% extends "base.html" %}

{% block content %}
    <h2>Projects</h2>

    <div class="row text-center">
        {% for project in projects %}
            <a href="/projects/{{ project }}" class="col-md" target="_blank">
                <div class="bg-dark">
                    <h3>{{ project }}</h3>
                    <img src="{{ url_for('static', filename='projects/' + project + '/img/icon.jpg') }}" height="100%"
                         width="100%">
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}